@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import 'css/reset.css';
@import 'css/vars.css';
@import 'css/box.css';
@import 'css/circle.css';
@import 'css/subjects.css';
@import 'css/score.css';
@import 'css/modal.css';




body {
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background: url(images/grafismo_backgroud.png) no-repeat fixed;
    background-color: #259cd9;
    background-size: 700px;
    background-position: left;
    background-position-y: 400px;
    color: #333;
}

a {
    text-decoration: none;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    background-color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    z-index: 100;
}

#header #logo {
    flex: 2;
    margin-left: -7px;
}

#header #menu {
    flex: 3;
    margin-top: 8px;
}

#header #menu ul#links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: #e85989;
}

#header #menu ul#links li {
    flex: 1;
    text-align: center;
}

#header #menu ul#links li a {
    color: #e85989;
    font-size: 15px;
    font-weight: 500;
}

#header #menu ul#links li a:after {
    content: ' ';
    border-bottom: 2px solid #fff;
    height: 2px;
    width: 50px;
    padding-top: 10px;
    display: flex;
    margin: auto;
}

#header #menu ul#links li a.active {
    color: #AC3376;
    font-weight: bold;
}

#header #menu ul#links li a:hover {
    color: #AC3376;
}

#header #menu ul#links li a:hover:after,
#header #menu ul#links li a.active:after {
    content: ' ';
    border-bottom: 2px solid #f59e3a;
    height: 2px;
    width: 50px;
    padding-top: 10px;
}

#header #profile {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 300px;
}

#header #profile #containerData {
    display: flex;
    flex-direction: column;
}

#header #profile #containerData p {
    color: #e85989;
    text-align: right;
}

#profile .profile-name {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}

#header #profile #containerData p.small {
    font-size: 14px;
}

#header #profile #avatar {
    padding: 0px 8px;
}

.avatar {
    border-radius: 50%;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #aaa;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 50px;
}

#content #containerTitle {
    margin: 70px 0 25px;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

#content #containerMain {
    display: flex;
    min-height: 600px;
    margin-top: 10px;
}

#content #containerMain #containerLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#containerLeft .skill {
    margin-bottom: 40px;
}

#containerLeft .skill-bar {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.skill-bar.aluno {
    color: #259cd9;
}

.skill-bar.turma {
    color: #E53772;
}

.skill-bar span:first-of-type {
    margin-right: 10px;
    height: 8px;
}

.skill-bar span:nth-of-type(2) {
    text-transform: lowercase;
    font-weight: 500;
    font-size: 16px;
}

#content #containerMain #containerLeft h5 {
    font-weight: 500;
    font-size: 16px;
    color: gray;
}

#content #containerMain #containerLeft #skillHtml #skillaluno {
    width: 80%;
    background-color: #259cd9;
    border-radius: 10px;
    font-size: x-small;
}

#content #containerMain #containerLeft #skillHtml #skillturma {
    width: 70%;
    background-color: #E53772;
    border-radius: 10px;
    font-size: x-small;
}

#content #containerMain #containerLeft #skillHtml #skillaluno span {
    color: #259cd9;
    padding-left: 105%;
    text-transform: lowercase;
}

#content #containerMain #containerLeft #skillHtml #skillturma span {
    color: #E53772;
    padding-left: 105%;
    text-transform: lowercase;
}

#content #containerMain #containerLeft #skillManipulacao_imagem #skillaluno {
    width: 50%;
    background-color: #259cd9;
    border-radius: 10px;
    font-size: x-small;
}

#content #containerMain #containerLeft #skillManipulacao_imagem #skillturma {
    width: 65%;
    background-color: #E53772;
    border-radius: 10px;
    font-size: x-small;
}

#content #containerMain #containerLeft #skillManipulacao_imagem #skillaluno span {
    color: #259cd9;
    padding-left: 105%;
}

#content #containerMain #containerLeft #skillManipulacao_imagem #skillturma span {
    color: #E53772;
    padding-left: 105%;
}

#content #containerMain #containerLeft #skillPrototipagem #skillaluno {
    width: 90%;
    background-color: #259cd9;
    border-radius: 10px;
    font-size: x-small;
}

#content #containerMain #containerLeft #skillPrototipagem #skillturma {
    width: 60%;
    background-color: #E53772;
    border-radius: 10px;
    font-size: x-small;
}

#content #containerMain #containerLeft #skillPrototipagem #skillaluno span {
    color: #259cd9;
    padding-left: 105%;
}

#content #containerMain #containerLeft #skillPrototipagem #skillturma span {
    color: #E53772;
    padding-left: 105%;
}

#content #containerMain #containerLeft #skillIlustracao #skillaluno {
    width: 63%;
    background-color: #259cd9;
    border-radius: 10px;
    font-size: x-small;
}

#content #containerMain #containerLeft #skillIlustracao #skillturma {
    width: 87%;
    background-color: #E53772;
    border-radius: 10px;
    font-size: x-small;
}

#content #containerMain #containerLeft #skillIlustracao #skillaluno span {
    color: #259cd9;
    padding-left: 105%;
}

#content #containerMain #containerLeft #skillIlustracao #skillturma span {
    color: #E53772;
    padding-left: 105%;
}

#content #containerMain #containerLeft #skillWireframe #skillaluno {
    width: 63%;
    background-color: #259cd9;
    border-radius: 10px;
    font-size: x-small;
}

#content #containerMain #containerLeft #skillWireframe #skillturma {
    width: 79%;
    background-color: #E53772;
    border-radius: 10px;
    font-size: x-small;
}

#content #containerMain #containerLeft #skillWireframe #skillaluno span {
    color: #259cd9;
    padding-left: 105%;
}

#content #containerMain #containerLeft #skillWireframe #skillturma span {
    color: #E53772;
    padding-left: 105%;
}

#content #containerMain #containerRight {
    flex: 2;
    display: flex;
    flex-direction: column;
}

#content #containerMain #containerRight #containerTopStudents {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#containerTopStudents .profiles {
    display: flex;
    justify-content: space-around;
}

#content #containerMain #containerRight #containerTopStudents #moldura-skill {
    display: inline-block;
    text-align: center;
}

#containerTopStudents .box-title {
    margin-bottom: 30px;
}

#containerTopStudents .circle-border {
    margin-bottom: 30px;
}

#containerTopStudents h5 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
}

#moldura-skill h6 {
    font-size: 14px;
    font-weight: 500;
    color: gray;
}

.circle {
    flex: 2;
    background-color: #aaa;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    overflow: hidden;
    display: inline-block;
    margin: 0px 0px 0px 0px;
}


.circle img {
    width: 110px;
    height: 110px;
}

#content #containerMain #containerRight #containerSkills {
    flex: 1;
    display: flex;
}

#content #containerMain #containerRight #containerSkills #hardSkills {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#content #containerMain #containerRight #containerSkills #softSkills {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#hardSkills .box-title {
    margin-bottom: 50px;
}

#hardSkills span {
    font-weight: 500;
    color: #E53772;
}

#softSkills .skill {
    background-color: #259cd9;
    display: inline-block;
    margin: 0 15px 15px 0;
    padding: 10px;
    
    border-radius: 5px;
    color: #fff;
}

#softSkills h5 {
    margin-bottom: 50px;
}

#content #containerSubjects {
    flex: 1;
    display: flex;
    min-height: 300px;
}

#footer {
    background-color: #491648;
    height: 120px;
    display: flex;
}

#footer #logo {
    flex: 1;
    display: flex;
    align-items: center;
}

#footer #about {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer #about p {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1.5;
    color: #fff;
}

#footer #social {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modal-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(51, 51, 51, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

#modal {
    width: 660px;
    height: 550px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 40px;
    box-sizing: border-box;
}

@media only screen and (min-width:1200px) {
    .centered {
        padding: 0px 250px;
    }
}


/* DASHBOARD */

.box {
    background-color: #fff;
    height: 100%;
    border-radius: 15px;
    padding: 20px 30px;
    box-sizing: border-box;
    color: #333;
    margin: 10px;
    /* flex-direction: column; */
    flex: 1;
}

.shadow {
    /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12) */

}